Source: toilet
Section: libs
Priority: optional
Maintainer: Sam Hocevar <sho@debian.org>
Build-Depends: debhelper-compat (= 13), pkg-config, libcaca-dev (>= 0.99.beta18), zlib1g-dev
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: toilet
Section: text
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, toilet-fonts
Suggests: figlet
Replaces: caca-utils
Description: display large colourful characters in text mode
 TOIlet prints text using large characters made of smaller characters.
 It is similar in many ways to FIGlet with additional features such as
 Unicode handling, colour fonts, filters and various export formats.
 .
 TOIlet can open FIGlet fonts and is mostly commandline-compatible with it.

Package: toilet-fonts
Section: text
Architecture: all
Depends: ${misc:Depends}
Suggests: toilet
Replaces: caca-utils
Description: collection of TOIlet fonts
 TOIlet prints text using large characters made of smaller characters.
 It is similar in many ways to FIGlet with additional features such as
 Unicode handling, colour fonts, filters and various export formats.
 .
 This package contains a set of TOIlet-specific fonts.
